.container {
    background-color: lightblue;
}

.feed-sidenav {
    background-color: lightcoral;
}

.feed-main {
    background-color: lightgoldenrodyellow;
}

.feed-rsidebar {
    background-color: lightseagreen;
}